*{margin: 0 auto ;
     padding: 0 1rem;
     /*max-width: 700;*/}

@media(max-width:768px)
{.header{flex-direction: column; align-items: center;}}

body{background-color: #F6EBD4;}

.header{margin-top: 2px; 
    background-color: #EFE0C2; 
    border-radius: 50px;
    display: flex;
    align-items: center;
   justify-content: space-between;
   padding: 4px 18px;}

.header img{border-radius: 200px; margin: 2px;}

.header ul{
    list-style-type:none; 
    display:flex;
    flex-direction: row;

}
.header ul li a{
    text-decoration: none;
    color: #403011; 
    font-family: fantasy; 
    letter-spacing: 0.5px; 
    font-size: 16px; 
    padding: 6px 8px; 
    margin: 10px;}

.header ul li a:hover{
    cursor: pointer; 
    color: #8d6348;
    border-bottom: 2px solid #8d6348; 
    /*transition: all 0.3s ease;*/
  }

.intro-card {
  max-width: 800px;
  margin: 24px auto;
  padding: 16px 24px;
  background-color: #8d6348;
  border-radius: 16px;
  box-shadow:
    0 4px 8px rgba(0,0,0,0.15),
    0 8px 16px rgba(0,0,0, 0.1);
  transition: box-shadow 0.3s ease;
  color: #fff;
  display: flex;
  align-items: center;
}

.intro-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  width: 100%;
}

.intro-image {
  flex: 0 0 180px;
  min-width: 120px;
}

.intro-image img {
  width: 100%;
  max-width: 250px;
  border-radius: 12px;
  object-fit: cover;
  box-shadow: 0 4px 12px rgba(240, 238, 238, 0.1);
}

.intro-text {
  flex: 1;
  font-family: 'Inter', sans-serif;
  color: #403011;
  padding-left: 12px;
}

.intro-text h1 {
  font-size: 1.5rem;
  color: #F6EBD4;
  margin-bottom: 12px;
}

.intro-text p {
  font-size: 1rem;
  line-height: 1.6;
}