*{margin: 0 auto ;
     padding: 0 1rem;
     /*max-width: 700;*/}

@media(max-width:768px)
{.header{flex-direction: column; align-items: center;}}

html, body {
  height: 100%;}

body{background-color: #F6EBD4;
display: flex;
flex-direction: column;
min-height: 100vh;}

.header{margin-top: 2px; 
    background-color: #EFE0C2; 
    border-radius: 8px;
    display: flex;
    align-items: center;
   justify-content: space-between;
   padding: 8px 0px;
  width: 100%;
  max-width: 100vw;
  box-sizing: border-box;}

.header img{border-radius: 200px; margin: 2px;}

.header ul{
    list-style-type:none; 
    display:flex;
    flex-direction: row;

}
.header ul li a{
    text-decoration: none;
    color: #8d6348; 
    font-family: fantasy; 
    letter-spacing: 0.5px; 
    font-size: 16px; 
    padding: 6px 8px; 
    margin: 10px;
}
.header ul li a:hover{
    cursor: pointer; 
    color: #8d6348;
    border-bottom: 2px solid #8d6348; 
    /*transition: all 0.3s ease;*/
  }

.intro-card {
  max-width: 1000px;
  margin: 32px auto;
  padding: 32px 40px;
  background-color: #EFE0C2;
  border-radius: 16px;
  box-shadow: 0 18px 20px rgba(107, 86, 1, 0.18);
  color: #403011;
  display: flex;
  align-items: center;
}

.intro-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
  width: 100%;
}


.intro-image img {
  width: 100%;
  max-width: 300px;
  border-radius: 12px;
  object-fit: cover;
}

.intro-text {
  flex: 1;
  font-family: 'Inter', sans-serif;
  color: #403011;
  padding-left: 32px;
}

.intro-text h1 {
  font-size: 2rem;
  color: #403011;
  margin-bottom: 16px;
}

.intro-text p {
  font-size: 1.15rem;
  line-height: 1.8;
  margin: 0;
}

.container {
  flex: 1;
  max-width: 1000px;
  margin: 5px auto;
  padding: 20px;
}
body h1 {
  font-family: 'Inter', sans-serif;
  color: #403011;
  text-align: center;
  margin-bottom: 20px;
}


.card3{
border-radius: 8px;
background-color: #EFE0C2;
margin: 15px;
padding:10px;}

.content3 {
  display: left;
  flex-direction: left;
  flex-wrap: wrap;
}
.content3 a{text-decoration: none;
  color: #050505;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  margin-top:3px;
}
.content3 a:hover {
  color: #8d6348;
  text-decoration: underline;
}
.content3 ul{
  list-style-type: none;
} 
.section {
  display: flex;
  flex-wrap: wrap;
  background-color: #513b0f;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
  align-items: center;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.18);
}

.section-img {
  width: 300px;
  height: auto;
  border-radius: 10px;
  margin: 10px;
}

.section-text {
  flex: 1;
  min-width: 250px;
  margin: 10px;
}

h2 {font-family: 'Inter', sans-serif;
  color: whitesmoke;
}

.card, .card{border: 1px solid #000;
margin:20px;
padding: 10px;
background-color: #566905;
color: #F6EBD4;
border-radius: 8px;}

ul{list-style: square inside;}
.card h1{color:#e0c987;
text-align: left;font-size: 24px;}

footer{
  background-color: #EFE0C2;
  color: #403011;
  margin-top: 32px;
  text-align: center;
  padding: 8px 0px;
  border-radius: 8px;
  width: 100%;
  max-width: 100vw;
  box-sizing: border-box;
  position: relative;
  bottom: 0;
  columns: 3;}

footer p {
  margin: 0;
  font-size: 17px;
  color: #403011;
  font:'inter', sans-serif;
  font-weight: bold;
}

footer p span{
  font-weight: normal;
  color: #403011;
}

footer a i{
  color: #403011;
  margin: 10px;
}
footer a{
  text-decoration: none;
  color: #403011;
  font-family: 'Inter', sans-serif;
  font-size: 14px;

}

footer ul li a{
  text-decoration: none;
  color: #403011;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  /*font-weight: bold;*/
  margin: 0 5px;
}
footer a i:hover{
  color: #dad0d0;}

  footer ul li a:hover{
  text-decoration: underline;
  color: #8d6348;
}
footer ul{list-style: none;}

footer .footer-btm{display: initial;}