body {
  /*font-family: Arial, sans-serif;*/
  margin: 0;
  padding: 0;
  background-color: #f6ebd4;
}
@media(max-width:768px)
{.header{flex-direction: column; align-items: center;}}

.header{margin-top: 2px; 
    background-color: #EFE0C2; 
    border-radius: 50px;
    display: flex;
    align-items: center;
   justify-content: space-between;
   padding: 4px 18px;}

.header img{border-radius: 200px; margin: 2px;}

.header ul{
    list-style-type:none; 
    display:flex;
    flex-direction: row;

}
.header ul li a{
    text-decoration: none;
    color: #403011; 
    font-family: fantasy; 
    letter-spacing: 0.5px; 
    font-size: 16px; 
    padding: 6px 8px; 
    margin: 10px;}

.header ul li a:hover{
    cursor: pointer; 
    color: #8d6348;
    border-bottom: 2px solid #8d6348; 
    /*transition: all 0.3s ease;*/
  }

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.section {
  display: flex;
  flex-wrap: wrap;
  background-color: #403011;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
  align-items: center;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.18);
}

.section-img {
  width: 300px;
  height: auto;
  border-radius: 10px;
  margin: 10px;
}

.section-text {
  flex: 1;
  min-width: 250px;
  margin: 10px;
}

h2 {font-family: 'Inter', sans-serif;
  color: whitesmoke;
}

p {font-family: 'Inter', sans-serif;
  color: cornsilk;
  line-height: 1.6;
}
